* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .top-nav {
  display: none;
}
header .header_top {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #C9D6CB;
}
header .header_top .container {
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
}
header .header_top .container .header_top_left ul {
  display: flex;
}
header .header_top .container .header_top_left ul li {
  color: #305534;
  margin-right: 15px;
  border-right: 1px solid #C9D6CB;
  padding: 13px 15px 12px 0;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}
header .header_top .container .header_top_icons {
  display: flex;
  align-items: center;
}
header .header_top .container .header_top_icons ul {
  display: flex;
}
header .header_top .container .header_top_icons ul li {
  padding-left: 19px;
}
header .header_top .container .header_top_icons ul li i {
  color: #C9D6CB;
  font-size: 16px;
  transition: all 0.3s ease-out 0s;
}
header .header_top .container .header_top_icons ul li i:hover {
  transition: all 0.3s ease-out 0s;
  transform: rotateY(180deg);
  color: #00880F;
  cursor: pointer;
}
header .header_bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
header .header_bottom .container {
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
}
header .header_bottom .container .for_logo {
  display: block;
}
header .header_bottom .container .header_bottom_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header .header_bottom .container .header_bottom_right .nav ul {
  display: flex;
  gap: 30px;
}
header .header_bottom .container .header_bottom_right .nav ul li a {
  font-family: "Barlow", sans-serif;
  color: #301A22;
  padding: 31px 7px;
  font-size: 18px;
}
header .header_bottom .container .header_bottom_right .nav ul li a:hover {
  transition: all 0.3s ease-out 0s;
  color: #00880F;
  cursor: pointer;
}
header .header_bottom .container .header_bottom_right .nav ul .blog_li:hover .blog_alt {
  visibility: visible;
  opacity: 1;
}
header .header_bottom .container .header_bottom_right .nav ul .blog_li .blog_alt {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 120px;
  right: 355px;
  padding: 17px 17px;
  transition: all 0.3s ease-out 0s;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
}
header .header_bottom .container .header_bottom_right .nav ul .blog_li .blog_alt a {
  padding: 6px 40px 6px 10px !important;
  font-size: 16px;
  color: #1D2547;
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
}
header .header_bottom .container .header_bottom_right .nav ul .blog_li .blog_alt a:hover {
  transition: all 0.3s ease-out 0s;
  color: #00880F;
  cursor: pointer;
}
header .header_bottom .container .header_bottom_right .search_button i {
  cursor: pointer;
  background: rgba(0, 136, 15, 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00880F;
}
header .header_bottom .container .header_bottom_right .quote_button a {
  color: #fff;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  background-color: #00880F;
  padding: 10px 22px;
  cursor: pointer;
  border-radius: 30px;
}

.con_us {
  width: 100%;
  background-image: url(../img/h2_hero1.jpg.webp);
  background-position: center;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con_us h2 {
  font-size: 60px;
  font-family: "Barlow", sans-serif;
  color: #fff;
}

.map {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get_in_touch {
  padding: 0 120px;
}
.get_in_touch h2 {
  font-size: 27px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: "Barlow", sans-serif;
  color: #305534;
}
.get_in_touch .main {
  display: flex;
  gap: 80px;
}
.get_in_touch .main .inputs textarea {
  width: 855px;
  height: 190px;
  border: 1px solid #e5e6e9;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
.get_in_touch .main .inputs .twoinputs {
  display: flex;
  gap: 23px;
}
.get_in_touch .main .inputs .twoinputs input {
  width: 415px;
  height: 48px;
  border: 1px solid #e5e6e9;
  margin-bottom: 20px;
  padding-left: 20px;
}
.get_in_touch .main .inputs input {
  width: 855px;
  height: 48px;
  border: 1px solid #e5e6e9;
  display: block;
  margin-bottom: 40px;
  padding-left: 20px;
}
.get_in_touch .main .inputs a {
  background: #fff;
  color: #00880F;
  padding: 18px 44px;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  border: 1px solid #00880F;
}
.get_in_touch .main .icons .ricon {
  display: flex;
}
.get_in_touch .main .icons .ricon span {
  width: 50px;
  height: 27px;
}
.get_in_touch .main .icons .ricon span i {
  width: 50px;
  height: 27px;
  color: #8a8a8a;
}
.get_in_touch .main .icons .ricon .icon_text {
  font-size: 16px;
  color: #8a8a8a;
  margin-bottom: 28px;
}
.get_in_touch .main .icons .ricon .icon_text h3 {
  font-size: 16px;
  color: #2a2a2a;
  margin-bottom: 10px;
}
.main_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 160px 0 80px 0;
}
.main_footer .container {
  width: 100%;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-right: 110px;
}
.main_footer .container .in_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_footer .container .in_footer .logo_and {
  width: 25%;
  margin-right: 50px;
}
.main_footer .container .in_footer .logo_and p {
  padding-top: 30px;
  color: #305534;
  font-size: 18px;
  margin-bottom: 21px;
  line-height: 1.8;
  font-family: "Barlow", sans-serif;
}
.main_footer .container .in_footer .logo_and .icons i {
  background: none;
  color: #00880F;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin-right: 8px;
  border: 1px solid rgba(0, 136, 15, 0.2);
  transition: all 0.3s ease-out 0s;
}
.main_footer .container .in_footer .logo_and .icons i:hover {
  color: #fff;
  background: #00880F;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
.main_footer .container .in_footer .services h4 {
  font-family: "Barlow", sans-serif;
  color: #305534;
  font-size: 20px;
  margin-bottom: 24px;
}
.main_footer .container .in_footer .services ul li {
  margin-bottom: 24px;
}
.main_footer .container .in_footer .services ul li a {
  color: #305534;
  font-size: 18px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  font-weight: lighter;
  transition: all 0.3s ease-out 0s;
  font-family: "Barlow", sans-serif;
}
.main_footer .container .in_footer .services ul li a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-out 0s;
}
.main_footer .container .in_footer .navigation h4 {
  font-family: "Barlow", sans-serif;
  color: #305534;
  font-size: 20px;
  margin-bottom: 24px;
}
.main_footer .container .in_footer .navigation ul li {
  margin-bottom: 24px;
}
.main_footer .container .in_footer .navigation ul li a {
  font-family: "Barlow", sans-serif;
  color: #305534;
  font-size: 18px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  font-weight: lighter;
  transition: all 0.3s ease-out 0s;
}
.main_footer .container .in_footer .navigation ul li a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-out 0s;
}
.main_footer .container .in_footer .contact_us h4 {
  font-family: "Barlow", sans-serif;
  color: #305534;
  font-size: 20px;
  margin-bottom: 24px;
}
.main_footer .container .in_footer .contact_us p {
  color: #305534;
  font-size: 18px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  font-weight: lighter;
  margin-bottom: 24px;
  font-family: "Barlow", sans-serif;
  transition: all 0.3s ease-out 0s;
}
.main_footer .container .in_footer .contact_us p:hover {
  text-decoration: underline;
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}
.main_footer .container .in_footer .contact_us .tel_num {
  font-size: 24px;
  color: #00880F;
}
.main_footer .container .in_footer .contact_us .mail {
  font-size: 14px;
  color: #00880F;
}
.main_footer .container .copyright p {
  margin-top: 70px;
  color: #305534;
  font-size: 16px;
  line-height: 2;
  font-family: "Barlow", sans-serif;
}
.main_footer .container .copyright p span {
  font-size: 16px;
  color: #00880F;
  font-family: #00880F;
}
.main_footer .container .copyright p a {
  font-size: 16px;
  color: #00880F;
  font-family: #00880F;
}/*# sourceMappingURL=contact.css.map */